<banner 
  [imageSrc]="'../../../assets/images/banner 2.jpg'"
  [imageAlt]="'Banner 01'"
></banner>

<section class="signUp_container">
  <section class="signUp_form-wraper">
    <h2 class="signUp_title">CRIE SUA CONTA</h2>

    <form class="form_container" [formGroup]="signUpForm">
        <mat-form-field appearance="outline" class="name_field">
          <mat-label>Nome</mat-label>
          <input matInput type="text" placeholder="Digite seu nome" formControlName="nameFormControl" [errorStateMatcher]="matcher">
          
          <mat-error *ngIf="signUpForm.get('nameFormControl')?.hasError('required')">
            Campo obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="email_field">
          <mat-label>E-mail</mat-label>
          <input type="email" matInput formControlName="emailFormControl" [errorStateMatcher]="matcher"
                 placeholder="Ex. pat@example.com">
          <mat-error *ngIf="signUpForm.get('emailFormControl')?.hasError('email') && !signUpForm.get('emailFormControl')?.hasError('required')">
            Digite um e-mail válidos!
          </mat-error>
          <mat-error *ngIf="signUpForm.get('emailFormControl')?.hasError('required')">
            Email é <strong>obrigatorio</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="password_field">
          <mat-label>Senha</mat-label>
          <input matInput type="password" placeholder="Digite sua senha" formControlName="passwordFormControl" [errorStateMatcher]="matcher">

          <mat-error *ngIf="signUpForm.get('passwordFormControl')?.hasError('required')">
            Campo obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="confirm_password_field">
          <mat-label>Confirme sua senha</mat-label>
          <input matInput type="password" placeholder="Digite sua senha" formControlName="confirmPasswordFormControl" [errorStateMatcher]="matcher">

          <mat-error *ngIf="signUpForm.get('confirmPasswordFormControl')?.hasError('required')">
            Campo obrigatório
          </mat-error>

          <mat-error *ngIf="!signUpForm.get('confirmPasswordFormControl')?.hasError('required') || signUpForm.get('confirmPasswordFormControl')?.errors?.['mismatch']">
            As senhas não conferem
          </mat-error>
        </mat-form-field>

        <button class="btn_create" [disabled]="!signUpForm.valid" (click)="signUp()">CRIE SUA CONTA</button>
    </form>

    <p class="signUp_cta">Já possui uma conta ? <a routerLink="/login">Faça login</a></p>
  </section>
</section>
