::ng-deep {
    main {
        background-color: #FAFCFF !important;
        padding: 20px;
        overflow-y: scroll;
        height: calc(100vh - 90px) !important;
    }
}

.saldo_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.saidas_container,
.total_container {
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 #0000004d;
}

.saldo_container {
    .total_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        width: 100%;
        border-radius: 6px;
        margin: 40px 0;
    
        h2 {
            margin: 0;
            color: #800000;
        }
    
        .total_container_icon {
            display: flex;
            align-items: center;
            justify-content: center;
            
            color: #fff;
            background-color: #800000;
            width: 50px;
            height: 50px;
            border-radius: 30px;
        }
    }
}

.saldo_card_row {
    width: 80%;
    display: flex;
    gap: 1rem;
}

button {
    background-color: #800000;
    color: #ffffff;
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s;
    font-weight: 600;
    font-size: 16px;
}

button:hover, button.active {
    transform: scale(1.02);
}

.saidas_table {
    margin-top: 40px;

    table {
        width: 100%;
        border-collapse: collapse;

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
          
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    }
}

.noTransaction-container {
    padding: 1rem;
    text-align: center;

    img {
        margin-bottom: 1rem;
    }
}

.botoes_acao {
    display: flex;
    gap: 1rem;
    justify-content: center;

    i:hover {
        cursor: pointer;
    }

    i:hover:nth-child(1) {
        color: goldenrod;
    }

    i:hover:nth-child(2) {
        color: #da2020;
    }
}

::ng-deep {
    .my-custom-tooltip .mdc-tooltip__surface {
        max-width: 100% !important;
    }

    .saidas_container transacao-datepicker {
        .transacoes_datepicker_container {
            .btn_ano, .btn_mes, i {
                color: #800000 !important;
                border-color: #800000 !important;
            }

            .btn_mes.active {
                background-color: #800000 !important;
                color: #fff !important;
            }
        }
    }
}