<nav-bar></nav-bar>

<div class="saldo_container">
    <div class="saldo_card_row">
      <div class="total_container">
        <div class="total_container_text">
            <span>Total</span>
            <h2>{{ totalPerMonth | currency : "BRL" }}</h2>
        </div>
    
        <div class="total_container_icon">
            <i class="fas fa-dollar-sign fa-2x"></i>
        </div>
      </div>

      <div class="total_container">
          <div class="total_container_text">
              <span>Total concluído</span>
              <h2>{{ totalConcludedPerMonth | currency : "BRL" }}</h2>
          </div>
      
          <div class="total_container_icon">
              <i class="fas fa-dollar-sign fa-2x"></i>
          </div>
      </div>

      <div class="total_container">
          <div class="total_container_text">
              <span>Total pendente</span>
              <h2>{{ totalPendingPerMonth | currency : "BRL" }}</h2>
          </div>
      
          <div class="total_container_icon">
              <i class="fas fa-dollar-sign fa-2x"></i>
          </div>
      </div>
    </div>

    <button (click)="openDialog()">cadastrar saídas</button>
</div>

<div class="saidas_container">
    <transacao-datepicker 
      (selectedMonthEmiter)="changeMonth($event)" 
      (selectedYearEmiter)="changeYear($event)"
      (nextMonthEmiter)="nextMonth($event)"
      (previousMonthEmiter)="previousMonth($event)"
    ></transacao-datepicker>

    <div class="saidas_table">
      <table *ngIf="todasTransacoes.length > 0; else noOneTransactionInThisMonth">
        <tr>
          <th>Status</th>
          <th>Data</th>
          <th>Preço</th>
          <th>Descrição</th>
          <th>Categoria</th>
          <th class="botoes_acao">Ações</th>
        </tr>

        <tr *ngFor="let transacao of todasTransacoes">
          <td>{{ transacao.status }}</td>
          <td>{{ transacao.data | date : 'dd/MM/yyyy' }}</td>
          <td>{{ transacao.preco | currency: 'BRL' }}</td>
          <td>{{ transacao.descricao }}</td>
          <td>{{ transacao.categoria }}</td>
          <td class="botoes_acao">
            <i class="fas fa-pen" title="Editar transação" (click)="editTransaction(transacao)"></i>
            <i class="fas fa-trash-alt" title="Remover transação" (click)="removeTransaction(transacao)"></i>
          </td>
        </tr>
      </table>

      <ng-template #noOneTransactionInThisMonth>
        <div class="noTransaction-container">
          <img src="../../../assets/images/sem-transacao.png" alt="ícone de saco de moedas">
  
          <h2>Nenhuma transação cadastrada neste mês</h2>
        </div>
      </ng-template>
      
      <mat-paginator 
        [length]="totalCount" 
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 15, 20]" 
        (page)="onPageChange($event)">
      </mat-paginator>
    </div>
</div>
