<nav-bar></nav-bar>

<div class="saldo_container">
    <div class="total_container">
        <div class="total_container_text">
            <span>Total</span>
            <h2>{{ totalPerMonth | currency : "BRL" }}</h2>
        </div>
    
        <div class="total_container_icon">
            <i class="fas fa-dollar-sign fa-2x"></i>
        </div>
    </div>

    <button (click)="openDialog()">cadastrar receitas</button>
</div>

<div class="receitas_container">
    <transacao-datepicker 
      (selectedMonthEmiter)="changeMonth($event)" 
      (selectedYearEmiter)="changeYear($event)"
      (nextMonthEmiter)="nextMonth($event)"
      (previousMonthEmiter)="previousMonth($event)"
    ></transacao-datepicker>

    <div class="receitas_table">
      <table *ngIf="listaTransacoes.length > 0; else noOneTransactionInThisMonth">
        <tr>
          <th>Status</th>
          <th>Data</th>
          <th>Preço</th>
          <th>Descrição</th>
          <th>Categoria</th>
        </tr>

        <tr *ngFor="let transacao of listaTransacoes">
          <td>{{ transacao.status }}</td>
          <td>{{ transacao.data | date : 'dd/MM/yyyy' }}</td>
          <td>{{ transacao.preco | currency: 'BRL' }}</td>
          <td>{{ transacao.descricao }}</td>
          <td>{{ transacao.categoria }}</td>
        </tr>
      </table>

      <ng-template #noOneTransactionInThisMonth>
        <div class="noTransaction-container">
          <img src="../../../assets/images/sem-transacao.png" alt="ícone de saco de moedas">
  
          <h2>Nenhuma transação cadastrada neste mês</h2>
        </div>
      </ng-template>
      
      <mat-paginator 
        [length]="todasTransacoes.length" 
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 15, 20]" 
        (page)="onPageChange($event)">
      </mat-paginator>
    </div>
</div>
