<div class="register_form_wrapper">
    <form class="ff_roboto">
        <h2 class="text-center">Crie sua conta</h2>

        <div class="row">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Digite seu nome completo">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="example-full-width" appearance="outline" class="col-6">
                <mat-label>Senha</mat-label>
                <input matInput placeholder="Digite sua senha">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline" class="col-6">
                <mat-label>Confirme sua senha</mat-label>
                <input matInput placeholder="Digite sua senha">
            </mat-form-field>
        </div>

        <button mat-flat-button>ACESSAR MINHA CONTA</button>

        <p>Já possui uma conta ? <strong> Faça login</strong></p>
    </form>
</div>
