.month_datepicker_container {
    padding: 12px;
    border: 1px solid #1f7cd3;
    border-radius: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 3px;
    color: #1f7cd3;
    width: 150px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.month_datepicker_container:hover {
    transform: scale(1.03);
}

i {
    margin-left: 5px;
}

::ng-deep mat-form-field {
    opacity: 0 !important;
    pointer-events: none !important;
    position: absolute;
}

::ng-deep  {
    .mat-calendar-header {

        padding: 0 !important;

        .mat-calendar-controls {
            display: flex !important;
            align-items: center !important;
            justify-content: space-between !important;
            padding: 0 !important;
            margin: 0 !important;
            background: #1f7cd3 !important;
        }

        .mat-calendar-spacer {
            display: none !important;
        }

        .mat-calendar-previous-button,
        .mat-calendar-next-button {
            color: #ffffff !important;
            opacity: 1 !important;
            transition: .2s ease-in-out;
        }

        .mat-calendar-previous-button:hover,
        .mat-calendar-next-button:hover {
            transform: scale(1.2);
        }

        button:first-child {
            display: none !important;
        }
    }

    .mat-calendar-body-label {
        position: absolute !important;
        top: 0 !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
        color: #ffffff !important;
    }

    .mat-datepicker-content .mat-calendar {
        height: 200px !important;
    }
}