<div class="form-login_wrapper">
    <figure>
        <img src="../../../../assets/images/porquinho.png" alt="Imagem de um porquinho" draggable="false">
    </figure>

    <form class="ff_roboto">
        <h2>LOGIN</h2>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Login</mat-label>
            <input matInput placeholder="Digite seu email">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="Digite sua senha">
        </mat-form-field>

        <button mat-flat-button>ACESSAR MINHA CONTA</button>
    </form>
</div>

<p>Ainda não tem uma conta ? <strong> Cadastre-se</strong></p>