<div class="receitas_datepicker_container">
    <div>
        <i class="fas fa-chevron-left fa-2x"></i>
        <button class="btn_ano">
            <strong>Agosto</strong>
            2024
        </button>
        <i class="fas fa-chevron-right fa-2x"></i>
    </div>

    <div class="btn_row">
        <button class="btn_mes" >JAN</button>
        <button class="btn_mes" >FEV</button>
        <button class="btn_mes" >MAR</button>
        <button class="btn_mes" >ABRL</button>
        <button class="btn_mes" >MAI</button>
        <button class="btn_mes" >JUN</button>
        <button class="btn_mes" >JUL</button>
        <button class="btn_mes" >AGO</button>
        <button class="btn_mes" >SET</button>
        <button class="btn_mes" >OUT</button>
        <button class="btn_mes" >NOV</button>
        <button class="btn_mes" >DEZ</button>
    </div>
</div>