.login_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 150px);
}

.login_form-wraper {
    min-width: 600px;
    padding: 20px;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 #0000004d;


    display: grid;
    grid-template:
    "login_title login_title"
    "image_container form_container"
    "signUp_cta signUp_cta"
    ;
}

.login_title {
    grid-area: login_title;
    text-align: center;
    font-weight: 600;
}

.image_container {
    grid-area: image_container;
}

.form_container {
    grid-area: form_container;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 1rem;

    button {
        background-color: #2B92F0;
        color: #ffffff;
        border: none;
        outline: none;
        padding: 1rem;
        border-radius: 6px;
        cursor: pointer;
        transition: .3s;
    }

    button:hover {
        background-color: #1f7cd3;
        transform: scale(1.02);
    }

    button:disabled {
        background-color: #2B92F0;
        transform: scale(1);
        opacity: 0.7;
        cursor: no-drop;
    }
}

.signUp_cta {
    grid-area: signUp_cta;
    margin: 1.5rem;
    text-align: center;

    a {
        color: #2B92F0;
        font-weight: 500;
        cursor: pointer;
    }

    a:hover {
        color: #1f7cd3;
    }
}


@media (max-width: 425px) {
    .login_form-wraper {
        min-width: initial;
        max-width: 600px;
        grid-template:
        "login_title login_title"
        "form_container form_container"
        "signUp_cta signUp_cta"
        ;
    }

    .image_container {
        display: none;
    }
}