<banner 
  [imageSrc]="'../../../assets/images/banner 1.jpg'"
  [imageAlt]="'Banner 01'"
></banner>

<section class="login_container">
  <section class="login_form-wraper">
    <h2 class="login_title">LOGIN</h2>

    <div class="image_container">
      <img src="../../../assets/images/porquinho.png" alt="imagem de um porco de porcelana">
    </div>

    <form class="form_container" [formGroup]="loginForm">
      <mat-form-field appearance="outline">
        <mat-label>Login</mat-label>
        <input type="email" matInput formControlName="emailFormControl" [errorStateMatcher]="matcher"
               placeholder="Ex. pat@example.com">
        <mat-error *ngIf="loginForm.get('emailFormControl')?.hasError('email') && !loginForm.get('emailFormControl')?.hasError('required')">
          Digite um e-mail válido
        </mat-error>
        <mat-error *ngIf="loginForm.get('emailFormControl')?.hasError('required')">
          Email é <strong>obrigatorio</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input type="password" matInput formControlName="passwordFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="loginForm.get('passwordFormControl')?.hasError('required')">
          Senha é <strong>obrigatorio</strong>
        </mat-error>
      </mat-form-field>

        <button [disabled]="!loginForm.valid" (click)="login()">ACESSAR MINHA CONTA</button>
    </form>

    <p class="signUp_cta">Ainda não tem uma conta ? <a routerLink="/cadastro">Cadastre-se</a></p>
  </section>
</section>
