<banner 
  [imageSrc]="'../../../assets/images/banner 1.jpg'"
  [imageAlt]="'Banner 01'"
></banner>

<section class="login_container">
  <section class="login_form-wraper">
    <h2 class="login_title">LOGIN</h2>

    <div class="image_container">
      <img src="../../../assets/images/porquinho.png" alt="imagem de um porco de porcelana">
    </div>

    <form class="form_container">
        <mat-form-field appearance="outline">
          <mat-label>Login</mat-label>
          <input matInput type="email" placeholder="Digite seu e-mail">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput type="password" placeholder="Digite sua senha">
        </mat-form-field>

        <button>ACESSAR MINHA CONTA</button>
    </form>

    <p class="signUp_cta">Ainda não tem uma conta ? <a routerLink="/cadastro">Cadastre-se</a></p>
  </section>
</section>
