@import '/src/styles.scss';

.footer_style {
    background: #141218;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;

    strong {
        color: #2B92F0;
    }
}