<nav-bar></nav-bar>

<section class="home_container">
    <section class="lista_saidas">
        <h2>Gráficos</h2>
    </section>
    <!-- <section class="grafico_gastos"></section> -->
    <section class="lista_valores">
        <div class="lista_valores_entrada">
            <h1>Entradas</h1>
            <h2>{{totalEntradas| currency : "BRL"}}</h2>
        </div>
        <div class="lista_valores_saida">
            <h1>Saídas</h1>
            <h2>{{totalSaidas | currency : "BRL"}}</h2>
        </div>
        <div class="lista_valores_saldo">
            <h1>Saldo</h1>
            <h2>{{total | currency : "BRL"}}</h2>
        </div>
        <!-- <div class="lista_valores_objetivos">objetivos</div> -->
    </section>
</section>