<header>
    <div class="navbar_container">
        <nav class="navBar">
            <button routerLink="/home" routerLinkActive="active">home</button>
            <button routerLink="/entradas" routerLinkActive="active">Cadastrar entradas</button>
            <button routerLink="/saidas" routerLinkActive="active">Cadastrar saídas</button>
            <!-- <button routerLink="/objetivos" routerLinkActive="active">Cadastrar objetivos</button> -->
        </nav>

        <month-datepicker [ngClass]="{ 'hidden': router.url != '/home' }"></month-datepicker>
    </div>

    <div class="user_container">
        <div class="welcome_container">
            <h2>Olá, {{ user?.displayName }}</h2>
        </div>
    
        <button class="button_outline" (click)="signOut()">Sair</button>
    </div>
</header>

<header class="mobile_header">
    <button routerLink="/home" routerLinkActive="active"><i class="fas fa-home"></i></button>
    <button routerLink="/entradas" routerLinkActive="active"><i class="fas fa-arrow-up"></i></button>
    <button routerLink="/saidas" routerLinkActive="active"><i class="fas fa-arrow-down"></i></button>
    <button class="button_outline" (click)="signOut()"><i class="fas fa-sign-out-alt"></i></button>
</header>

<div class="mobile_datepicker">
    <month-datepicker [ngClass]="{ 'hidden': router.url != '/home' }"></month-datepicker>
</div>