header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar_container {
        display: flex;
        align-items: center;
        gap: 3rem;

        .navBar {
            margin: 20px 0;
            background-color: #ffffff;
            padding: .5rem;
            border-radius: 30px;
        
            display: flex;
            gap: 1rem;
        
            box-sizing: border-box;
            box-shadow: 0 1px 2px 0 #0000004d;
        }
    }
}

button {
    background-color: #F6F6F6;
    color: #1a1a1a;
    border: none;
    outline: none;
    padding: .5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s;
    border-radius: 30px;
}

.button_outline {
    background-color: #ffffff;
    color: #1f7cd3;
    border: 1px solid #1f7cd3;
}

button:hover, button.active {
    background-color: #1f7cd3;
    color: #ffffff;
    transform: scale(1.02);
}

.user_container {
    display: flex;
    align-items: center;
    gap: 20px;

    .welcome_container {
        h2 {
            margin: 0;
        }
    }
}

.hidden {
    display: none;
}

.mobile_datepicker, .mobile_header {
    display: none;
}

.fa-arrow-up {
    color: #008000;
}

.fa-arrow-down {
    color: #800000;
}

@media (max-width: 992px) {
    .navbar_container month-datepicker, header {
        display: none;
    }

    .mobile_datepicker {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 4rem auto 1.5rem;
    }

    .mobile_header {
        display: flex;
        width: calc(100% - 45px) !important;
        height: 60px;
        background-color: #1f7cd3;
        color: #fff;
        position: fixed;
        top: 0;
        left: 0px;
        padding: 0 20px;
        z-index: 999;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        color: #1a1a1a !important;
    }

    button:hover, button.active {
        background-color: #fff;
        font-size: 20px;
        color: #1f7cd3 !important;
    }

}